<mapper namespace="com.lagou.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.lagou.pojo.User" >
        select * from user
    </select>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <!-- 查询-->
    <select id="findByCondition" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <!--删除-->
    <delete id="deleteByCondition" paramterType="com.lagou.pojo.User">
        delete from user where id=#{id}
    </delete>

    <!--修改  -->
    <update id="updateByCondition" paramterType="com.lagou.pojo.User">
        update user set username=#{username} where id=#{id}
    </update>
    <!--增添-->
    <insert id="insertByCondtion" paramterType="com.lagou.pojo.User">
        insert into user (id,username,department,work) values (#{id},#{username},#{department},#{work})
    </insert>


</mapper>